<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639171720797-1947q85ikvusptoul5tdhjffodrlhlrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639171720797-1947q85ikvusptoul5tdhjffodrlhlrh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639171720797-1t83e6st47g8q6gui5mm1j5k4692vlpd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdP5LCqg9cDIIiY46A2Z2t9j2_OTtD2qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>639171720797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reformeddeveloper.adhdJournal.test1</string>
	<key>PROJECT_ID</key>
	<string>adhd-journal-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>adhd-journal-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639171720797:ios:75122e294e519e47107fb4</string>
</dict>
</plist>